.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.content {
    max-width: 50%;
}

.headline {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.4;
}

.headline span {
    color: #39DB4A;
}

.subtext {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.order-now {
    background-color: #00a63f;
    color: white;
    margin-right: 10px;
}

.watch-video {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
}

.image-container {
    position: relative;
    max-width: 50%;
    text-align: center;
}

.main-image {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.circle {
    background-color: #00ff7f;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
}

.circle img {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 102px;
    right: 50px;
}


.food-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
}

.card .food-image {
    background-color: #eee;
    height: 80px;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.spicy-noodles {
    background-image: url('./Images/image\ 14.png');
    background-size: cover;
    background-position: center;
}

.vegetarian-salad {
    background-image: url('./Images/Mask\ group.png');
    background-size: cover;
    background-position: center;
}